<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐下载工具</title>
    <link rel="stylesheet" href="./static/lib/bootstrap/css/bootstrap.css">
    <script src="./static/lib/vue.js"></script>
    <script src="./static/lib/axios.min.js"></script>
    <style>
        * {
            margin: 0px;
            border: 0px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="bg-primary text-center">
            <h2>音乐下载工具</h2>
        </div>
        <form class="form-inline text-center">
            <div class="form-group">
                <label for="nameInput">歌曲名</label>
                <input type="text" class="form-control" id="nameInput" v-model="name">
            </div>
            <div class="form-group">
                <label for="authorInput">作者名</label>
                <input type="text" class="form-control" id="authorInput" v-model="author">
            </div>
            <button type="button" class="btn btn-primary" v-on:click="search">搜索</button>
        </form>
        <hr />
        <div class="form-inline text-center">
            <audio id="myAudio" src="#" controls>
            </audio>
        </div>
        <div class="form-inline text-center">
            <button type="button" class="btn btn-primary" v-on:click="next()">下一首</button>
            <button type="button" class="btn btn-primary" v-on:click="pre()">上一首</button>
            <button type="button" class="btn btn-primary" v-on:click="download()">下载该曲</button>
            <label>当前播放第{{nowId+1}}个曲目</label>
        </div>
        <hr />
        <table class="table table-hover .table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>歌曲名</th>
                    <th>作者</th>
                    <th>来源</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,i) in music_list">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.source}}</td>
                    <td>
                        <a href="#" v-on:click="listening_test(i)">试听</a>
                        <a href="#" v-on:click="download(i)">下载</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                author: '',
                music_list: [{
                    name: 'tdx',
                    author: 'tdx',
                    url_id: 123,
                    source: 'kugou'
                }],
                nowId: 0
            },
            methods: {
                next() {
                    if (this.nowId < this.music_list.length) {
                        this.nowId += 1
                    }
                    this.listening_test(this.nowId)
                },
                pre() {
                    if (this.nowId > 0) {
                        this.nowId -= 1
                    }
                    this.listening_test(this.nowId)
                },
                async search() {
                    var list = []
                    await axios({
                            url: '/search',
                            method: 'post',
                            data: {
                                'name': this.name,
                                "author": this.author
                            },
                            headers: {
                                "Content-Type": "application/json;"
                            }
                        }).then(function(response) {
                            list = response.data['music_list']
                        })
                        .catch(function(error) {
                            console.log(error);
                        })
                    this.music_list = list
                    alert("搜索完成")
                    this.pre()
                },
                async download(i) {
                    if (i == null) {
                        i = this.nowId
                    }
                    var msg = ''
                    await axios({
                            url: '/download',
                            method: 'post',
                            data: this.music_list[i],
                            headers: {
                                "Content-Type": "application/json;"
                            }
                        }).then(function(response) {
                            msg = response.data
                        })
                        .catch(function(error) {
                            console.log(error);
                        })
                    if (msg.state == '1') {
                        alert("下载完成")
                    } else {
                        alert("下载失败,该歌曲不支持下载")
                    }

                },
                async listening_test(i) {
                    var url = ''
                    this.nowId = i
                    await axios({
                            url: '/listening_test',
                            method: 'post',
                            data: this.music_list[i],
                            headers: {
                                "Content-Type": "application/json;"
                            }
                        }).then(function(response) {
                            url = response.data['url']
                        })
                        .catch(function(error) {
                            console.log(error);
                        })
                    if (url == '') {
                        alert("歌曲没有版权，不能下载试听")
                    } else {
                        var myAudio = document.getElementById('myAudio');
                        myAudio.src = url;
                        myAudio.play();
                        myAudio.loop = true;
                        myAudio.preload = true;
                        myAudio.currentTime
                    }

                }
            }
        })
    </script>


</body>

</html>